@{
    ViewBag.Title = "Zillow It!";
}

<div id="search" class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <h2>Enter Address</h2>
        <input type="text" id="address" class="form-control pad-bottom" placeholder="Street Address" />
        <input type="text" id="citystatezip" class="form-control pad-bottom" placeholder="City, State, Zip" />
        <button class="btn btn-block btn-primary" id="goBtn">Search</button>
    </div>
</div>

<div id="searchResults" class="pad-top">

</div>